<% states_cities = [
  ["New York", ["Albany", "New York City", "Syracuse"]],
  ["Connecticut", ["Hartford", "Bridgeport", "New Haven", "Stamford"]],
  ["Maine", ["Augusta", "Portland", "Bangor"]],
  ["Colorado", ["Denver", "Boulder"]]
] %>

<h1>States, their capitols, and another city</h1>

<% states_cities.each do |state, cities| %>
  <ul>
    <li><%=state%></li>
    <ul>
      <% cities.each do |city|%>
      <li> <%=city%></li>
      <%end%>
    </ul>
  </ul>
<%end%>
